@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #fffaf7;
    --secondary-color: #ff6d38;
    --accent-color: #7a78ff;
    --heading-color: #333;
    --light-color: #f9f9f9;
    --dark-color: #333;
  
    --btn-primary-bg: #333;
    --btn-secondary-bg: #e74c3c;
    --btn-accent-bg: #00a652;
    --btn-primary-hover-bg: #8584ff;
    --btn-secondary-hover-bg: #333;
  
    --font-family-heading: 'Amatic SC', sans-serif;
    --border-radius: 8px;
  
    --shadow-sm: 0 2px 5px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 3px 10px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 5px 15px rgba(0, 0, 0, 0.2);
  
    --section-margin: 2rem 0;
    --container-width: 90%;
  }

  *, h1, h2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#rouge{

  color: #e74c3c;
}

#asmatic{

  font-family: "Amatic SC", sans-serif;
  font-weight: 2000;
  font-style: normal;
}


#header {
  background-color: #fffaf7;
  display: flex;
  align-items: center; /* aligne verticalement */
  justify-content: space-between; /* espace entre le titre et les boutons */
  padding: 10px 20px;
  
  }

  .icon {
    display: flex;
    align-items: center;
    gap: 3px;
  height: 35px;
  }
  

 body {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:
  "wdth" 100;
margin: 0%;
text-align: center;
 } 
 
 .banniere {
  padding: 100px; /* Vous ne connaissez pas encore cette propriété mais elle permet d'ajouter de l'espace dans notre élément*/
  /* background-image: url('images/background.jpg'); */
 }

 .negatif{
  position: absolute;
  color: #f4f4f4;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 10%;
    left: 30%;
 }

 .negatif2{
  position: absolute;
  color: #efefea;
  text-align: leftflex-direction: row;;
  font-style: normal;
  font-size: medium;
  top: 40%;
  left: 20%;
 }
 
 .negatif4{
  position: absolute;
  color: #efefea;
  text-align: left;
  font-style: normal;
  font-size: medium;
  top: 50%;
  left: 25%;
 }

 .positif {
  padding-top: 60px;
  text-align: center;
  font-family: "Amatic SC", sans-serif;
    font-weight: 1200;
    font-style: normal;
    margin: 0 auto;
 }

 #section2 {
  background-color: #e4e4e0;;
  padding: 30px;
  height: 100px;
 }


#bouton-noir {
  background-color: #e4e4e0;;
padding: 20px;
}

 #button {
  height: 35px;
  width: 130px;
background-color: #ff6d38;
color: #fffaf7;
border-radius: 30px;
border: 30px;
padding: 6px;
border-radius: 30px;
border: 10px;
 }

 #search {
  position: relative;
  width: 700px;
  padding: 30px;
display: flex;
flex-direction: row;
background-color: #fdfdfb;
border-radius: 10px;
margin: auto;
margin-top: 10px;
align-items: center; /* aligne verticalement */
justify-content: space-between; /* espace entre le titre et les boutons */
box-shadow: 1px 1px 12px #555;
 }

 #choix {
  width: 100px;
 }

#type{
  width: 200px;
}

.imput {

  text-align: left;
}

#search-button {
  height: 35px;
  width: 160px;
background-color: #030303;
color: #fffaf7;
border-radius: 30px;
border: 30px;
padding: 6px;
border-radius: 30px;
border: 10px;
}

 #animals-section {
background-color: #e4e4e0;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,auto);
  gap: 10px;
  padding: 40px;
  place-content: center;
  grid-template-areas: 
  "pet1 pet3 pet5 pet7"
  "pet1 pet4 pet5 pet8"
  "pet2 pet4 pet6 pet8";
 }

 #animals-section img {

  width: 100%;
  height: 100%; /* Remplir la hauteur du conteneur */
  object-fit: cover; /* Recadre l'image pour qu'elle couvre tout l'espace du conteneur */
 border-radius: 30px;
 }

 .pet1{ grid-area: pet1;}
 .pet2{ grid-area: pet2;}
 .pet3{ grid-area: pet3;}
 .pet4{ grid-area: pet4;}
 .pet5{ grid-area: pet5;}
 .pet6{ grid-area: pet6;}
 .pet7{ grid-area: pet7;}
 .pet8{ grid-area: pet8;}

 #black-button {

  height: 35px;
  width: 130px;
  text-align: center;
  background-color:  #e4e4e0; width: 100%;
  height: 100%; /* Remplir la hauteur du conteneur */
  object-fit: cover; /* Recadre l'image pour qu'elle couvre tout l'espace du conteneur */
  filter: brightness(50%); 
  padding: 15px;
vertical-align: 100%;
 }

 #button2 {
 position: relative;
top: 0px;
  height: 30px;
  background-color: #0f0f0f;
color: #fffaf7;
border-radius: 30px;
border: 10px;
height: 35px;
width: 130px;
 }

 .bulle {
  padding: 30px;

  height: 220px;
  width:180px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px #555;
  border: 10px;
  border: #333;
  font-size: x-small;
margin-left: 110px;
 grid-area: bulle1;
 margin-bottom: 20px;
 }


 .bulle2 {
  padding: 30px;

  height: 220px;
  width:180px;
  border-radius: 10px;
  border: 10px;
  box-shadow: 1px 1px 12px #555;
  border: #333;
  font-size: x-small;
 margin:2px;
  grid-area: bulle2;
  margin-bottom: 20px;
 }

 .bulle3 {
  padding: 30px;
 
  height: 220px;
  width:180px;
  border-radius: 10px;
  border: 10px;
  box-shadow: 1px 1px 12px #555;
  border: #333;
  font-size: x-small;
 margin: 2px;
  grid-area: bulle3;
  margin-bottom: 20px;
 }

 .bulle4 {
  padding: 30px;
 
  height: 220px;
  width:180px;
  border-radius: 10px;
  border: 10px;
  box-shadow: 1px 1px 12px #555;
  border: #333;
  font-size: x-small;
 margin-right: 110px;
  grid-area: bulle4;
  margin-bottom: 20px;
 }

 #section5 {
 margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  place-content: center;
  grid-template-areas: 
  "bulle1 bulle2 bulle3 bulle4";
  }

  .title-bulle {
font-size: 1rem;
  }

  .text-bulle {
    font-size: 0.8rem;
  }



 #green-button {
  height: 35px;
  width: 130px;
padding: 10px;
  position: relative;
  top: 0px;
  
    background-color: #00a652;
  color: #fffaf7;
  border-radius: 30px;
  border: 0px;
 } 
 
 #section6 {
display: flex;

justify-content: center;

    background-color: #e4e4e0;
   /* Remplir la hauteur du conteneur */
 
 align-items: end;
   padding: 40px;
   }

   .orange-button {
    display: flex;
    align-items: center;     /* Centrage vertical */
    justify-content: center;
    height: 40px;
    width: 40px;
    margin:  5px;
    background-color: #f4f4f4;
    border-radius: 5px;
    position: relative;
     color: #ff6d38;
 }

 .suivant-button {
  display: flex;
  align-items: center;     /* Centrage vertical */
  justify-content: center;
  height: 40px;
  width: 80px;
  margin:  5px;
  background-color: #f4f4f4;
  border-radius: 5px;
  position: relative;
   color: #ff6d38;



 }

 .grey {

  color: #817d7d;
 }

 #section3 {
  background-color: #e4e4e0;
 }

 #mentions {
  padding:15px;
  background-color: #333;
  color:#817d7d;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.black-bulle {
  position: relative;
text-align: left;
  padding-right: 10px;
padding-left: 30px;
  width:400px;
  font-size: x-small;
} 
  
.negatif3 {
  color: #f4f4f4;

}

#grey-line {
  padding: 1px;
  background-color:#817d7d; 
}

#copyright {
  padding: 40px;
  background-color: #333;
  color:#817d7d;
  }

#multi-buttons {

  padding: 20px;
}

.big {
  font-size: 2rem;
}

#inclusion {
  align-items: center;
padding-left: 50px;
padding-top: 50px;
  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    background-color: #e4e4e0;
  
  }
  
  #bulle-page2 {
      height: 220px;
      width:180px;
      text-align: center;
      align-items: center;
      box-shadow: 1px 1px 12px #555;
   
      border: #333;
      font-size: x-small;
     
      grid-area: bulle1;
      margin-bottom: 20px;  
  }
  
  .image {
  height: 120px;
  width: 180px;
  object-fit: cover;
  }

  .orange {
    font-family: 'Amatic SC', sans-serif ;
    font-size: 1.5rem;
    color: #ff6d38;
    }

    .negaicon {
      display: flex;
    padding: 5px;
      display: inline-flex;
      align-items: center;
      flex-direction: row;
      gap: 1em; 
    }